<h1>Greetings, <%= @user.first_name %></h1>
  <p>
    Your request for a new broker account has been approved. <br>
    You now have full access to all the actions available to brokers.  <br>
  </p>
<p>Have a great day!</p>