<section class="admin-approval">
  <div class="container">
    <h2 class="mb-3 text-center">Pending Brokers</h2>
    
    <div class="table-container">
      <table class="table table-hover table-responsive-md">
        <thead class="thead-bg-color sticky-top">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col" class="text-center">Approval</th>
          </tr>
        </thead>
        <tbody>
          <% @pending.each do |user| %>
            <tr>
              <td><%= user.first_name %> <%= user.last_name %></td>
              <td><%= user.email %></td>
              <td class="text-center">
                <%= button_to "Approve", users_approve_pending_path(user), params: { user: {verified: true} }, method: :patch, class: "btn btn-info btn-sm mb-1 mb-xl-0" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
  