<section>

  <div class="container">
    <h1>Pending Brokers</h1>
    <table class="table table-striped table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name:</th>
          <th scope="col">Email:</th>
          <th scope="col">Approval:</th>
        </tr>
      </thead>
      <tbody>
        <% @pending.each do |user| %>
          <tr>
            <td><%= user.first_name %> <%= user.last_name %></td>
            <td><%= user.email %></td>
            <td>
              <%= button_to "Approve", users_approve_pending_path(user), params: { user: {verified: true} }, method: :patch, class: "btn btn-info btn-sm mb-1 mb-xl-0" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
  