<section class="admin-page">
  <div class="admin-part" id="users-all">
    <div class="container">
      <h2>All</h2>
      <%= render "users", users: @users %>
    </div>
  </div>

  <div class="admin-part" id="users-admins">
    <div class="container">
      <h2>Admins</h2>
      <%= render "users", users: @admins %>
    </div>
  </div>

  <div class="admin-part" id="users-brokers">
    <div class="container">
      <h2>Brokers</h2>
      <%= render "users", users: @brokers %>
    </div>
  </div>

  <div class="admin-part" id="users-buyers">
    <div class="container">
      <h2>Buyers</h2>
      <%= render "users", users: @buyers %>
    </div>
  </div>
</section>