<section class="not-verified"></section>

<div class="user-not-verified">
  <div class="message-box">
  
    <h4 class="text-center mb-4">
      You cannot access the page because your account is not yet verified.
    </h4>

    <%#= link_to "OK", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>

    <%= link_to "OK", root_path, class: "btn btn-primary" %>
  </div>
</div>
